:root {
  --accent: #1992d4;
  --accent-2: #f0b429;
  --bg: #e2e8f0;
  --white: #ffffff;
  --grey: #636363;
}

body {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 350px auto;
  height: 100vh;
}

/* sidebar */
.sidebar {
  background-color: var(--accent);
  padding: 30px;
  color: var(--white);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 40px;

  /* align icons */
  h1, ul > li {
    display: grid;
    grid-template-columns: 2rem 1fr;
    column-gap: 20px;
    align-items: center;
  }
  svg {
    justify-self: center;
  }

  h1 {
    font-size: 1.5rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    line-height: 2.5;
    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

/* header */
header {
  width: 100%;
  padding: 30px 50px;
  display: grid;
  align-items: center;
  gap: 40px;
}
.header-row {
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
  }
}

.pfp {
  background-color: var(--accent-2);
  border-radius: 50%;
}
button svg {
  width: 25px;
  height: 25px;
}

.search-wrap {
  gap: 20px;
  input[type="search"] {
    height: 40px;
    width: 800px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--bg);
  }
}

.user-controls-wrap {
  gap: 30px;

  .pfp {
    height: 60px;
    width: 60px;
  }
  p {
    font-weight: 600;
  }
}

.user-greeting-wrap {
  .pfp {
    height: 80px;
    width: 80px;
    margin-right: 20px;
  }
  .username {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 600;
  
    span {
      display: block;
      font-size: 0.8rem;
    }
  }
}

.btn-wrap {
  gap: 30px;

  button {
    background-color: var(--accent);
    color: var(--white);
    font-weight: 600;
    padding: 10px;
    min-width: 125px;
    border-radius: 30px;
  }
}

/* main content */
main {
  padding: 30px;
  background-color: var(--bg);
  display: grid;
  grid: repeat(2, 1fr) / 3fr 1fr;
  gap: 30px;

  section > h2 {
    font-size: 1.2rem;
    padding-bottom: 15px;
  }
}

/* projects */
.section-projects {
  grid-row: 1 / -1;
}
.projects-container {
  display: grid;
  grid: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 30px;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background: var(--white);
  border-radius: 10px;
  border-left: 10px solid var(--accent-2);
  padding: 30px 20px;
  h3 {
    font-size: 1.05rem;
    margin-bottom: 5px;
  }
  p {
    color: var(--grey);
    font-size: 0.9rem;
    line-height: 1.4;
  }
}
.project-btns {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}